@using Facebook;
@{
    ViewBag.Title = "The Nose Book";
    ViewBag.Message = "Where you can pick your friends and your stocks.";
}

@section scripts {
    @Scripts.Render("~/bundles/custom")
    @Styles.Render("~/Content/Table.css")
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title - @ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<script src="~/Scripts/custom/apiFacades/FacebookAPI.js"></script>
<script src="~/Scripts/jquery-1.8.2.js">
    function getUser() {
        $.post('@Url.Action("UserInfo", "Home")');
    }
</script>
<!--
    Facebook tie in don't delete. This needs to be on everypage.
-->


<section class="container-fluid">
    <div id="fb-root"></div>
    <script type="text/javascript">
        //alert("before");
        //FB.getLoginStatus(function (response) {
        //    statusChangeCallback(response);
        //});
        window.fbAsyncInit = function () {
            FB.init({
                appId: '457596417728680',
                status: true,
                xfbml: true,
                cookie: true,
                version: 'v2.2'
            });
        };
        //Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

    </script>
    <div class="col-md-4" id="left-panel">
        
            
        <div id="user_stock">
        </div>
        <div id="transactions">
            <a href="/Transactions/Index">View Transactions</a>
        </div>
        <div id="calendar">
            <a href="/Calendar/Index">View Calendar</a>
        </div>
        @*Web Chat*@
        <div class="chat">
            <script src="http://js.pusher.com/2.2/pusher.min.js"></script>
            <div id="wrapper">
                
                <div id="upperPanel">
                    <div>
                        <table id="messages">
                        </table>
                    </div>
                    <div id="friends">

                    </div>
                </div>
                @*@using (Html.BeginForm("PostChat","Home",FormMethod.Post,null))
                {*@
                <div id="bottomPanel">
                    <textarea rows="2" cols="50" id="chatMessage"></textarea>
                    @*@Html.TextArea("chatMessage")*@
                    <input id="chatSubmitMessage" type="submit" value="Send" style="margin-left: 10px;" /><br />
                </div>
                @*}*@
            </div>​​​​​​​​​​​​​
            @*<article>
                <form>
                    <input type="text" id="chatMessage" placeholder="Enter your message here." />
                </form>
                <ul id="messages"></ul>
            </article>*@

            <script>
                $(function () {
                    var pusher = new Pusher('46b5305b3dc414716219');
                    var channel = pusher.subscribe('test_channel');
                    channel.bind('message_received', function (data) {
                        $("#messages").append('<tr> <th>' + data.user + '</th><th> ' + data.message + '</th><th> ' + data.timestamp + '</th>');
                    });

                    $('#chatSubmitMessage').click( function () {
                        $.post("/Home/PostChat", {
                            chatMessage: $('#chatMessage').val()
                        });
                    });
                });
            </script>

        </div>
    </div>
    <div class="col-md-8" id="right-panel">
        <div id="facebook">  
        </div>
        <div id="newsfeed">News Feed</div>
    </div>
</section>






