@model facebookProject.Models.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stock_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stock_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datetime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datetime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
