@model IEnumerable<facebookProject.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Buy or Sell Stock", "BuySell")
</p>
<table>
    <tr>
        <th>
            Stock Name
        </th>
        <th>
            Purchase Price
        </th>
        <th>
            Date Purchased
        </th>
        <th>
            Quantity Purchased
        </th>
        <th>
            Current Price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stock_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.transaction_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.transaction_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.transaction_id })
        </td>
    </tr>
}

</table>
