@using facebookProject.Models
@model IEnumerable<Transaction>
@{
    ViewBag.Title = "SellStock";
}
@Styles.Render("~/Content/Table.css")
<div class="title">
    <h2>
        Choose a stock to sell
    </h2>
</div>

<div id="summary">
    <p class="intro">
        You own
        <b>@Html.Action("getNumberOwned", "Transactions", new { stocksymbol = Model.First().stock_id })</b>
        of <b>@Html.Action("getStockName", "Transactions", new { stocksymbol = Model.First().stock_id })'s</b>
        stocks.
        Current profit is: <b>$@Html.Action("getProfit", "Transactions", new { stocksymbol = Model.First().stock_id })</b>

    </p>
</div>
<div id="sellStockTable">
    <table>
        <tr>
            <th>
                Stock ID
            </th>
            <th>
                Stock Name
            </th>
            <th>
                Purchase Price
            </th>
            <th>
                Quantity Owned
            </th>
            <th>
                Current Price
            </th>
            <th>
                Action
            </th>
        </tr>
@foreach (var x in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(item => x.stock_id)
            </td>
            <td>
                @Html.Action("getStockName", "Transactions", new { stock_id = x.stock_id });

            </td>
            <td>
                @Html.DisplayFor(item => x.price)
            </td>
            <td>
                @Html.DisplayFor(item => x.amount)
            </td>
            <td>
                @Html.Action("getStockPrice", "Transactions", new { stock_id = x.stock_id });

            </td>
            <td>
                @using (Html.BeginForm("SellStock2", "Transactions")){
                <p>
                    @Html.Hidden("stock_id", x.stock_id)
                    <p>Quantity</p>
                    @Html.TextBox("amount")
                    <p><input type="submit" value="Sell" /></p>
                </p>
                }
            </td>

        </tr>
}
    </table>
</div>

