@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<body class="padded">
    
   
    @using (Html.BeginForm("Edit","Event",FormMethod.Post))
    {
        <h2>Edit Event</h2>

        <div id="fields" style="margin-top:20px">
            <div>Event text</div>
            @Html.TextBox("Text")
            @Html.Hidden("Id", Request.QueryString["Id"])
            @Html.Hidden("Start", Request.QueryString["Start"])
            @Html.Hidden("End", Request.QueryString["End"])
        </div>

        <div style="margin-top:20px">
            <input type="submit" value="Save" onclick="editClicked();" />
            <button id="Cancel" onclick="formClose();">Cancel</button>
            <input type="submit" value="Delete" onclick="deleteClicked();" />
        </div>
        <script type="text/javascript">

            function formClose() {
                parent.DayPilot.ModalStatic.close();
            }
            function editClicked() {
                
                var name = document.getElementById("Text").value;
                var field = document.getElementById("fields");
                field.innerHTML += '@Html.Hidden("command", "edit")'
                field.innerHTML += '<input id="name" name="name" type="hidden" value="'+name+'"/>'
                formClose();
                parent.location.reload();
            }
            function deleteClicked() {
                var field = document.getElementById("fields");
                field.innerHTML += '@Html.Hidden("command", "delete")'
                formClose();
                parent.location.reload();
            }

</script>

    }
    

    <script type="text/javascript">

        

        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }
        

        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Text").focus();
        });

    </script>

</body>

